<h1>Bienvenido</h1>
<%= link_to 'Registrarse', signup_path, class:'btn btn-info' %>
<%= link_to 'Iniciar sesión', login_path, class:'btn btn-info' %>
<% if logged_in? %>
    <%= link_to 'Perfil', user_path %>
<% end %>